* {
    box-sizing: border-box;
}

header {
    padding-top: 6rem;
    background-color: #FCD5CE;
}

header h1 {
    padding-left: 2rem;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

nav {
    background-color: #FEC89A;
    color: #252525;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    display: block;
    z-index: 1;
}

nav .fa {
    color: #252525;
}

.dropbtn {
    background-color: #FEC89A;
    font-size: 1.5rem;
    border: none;
}
  
.nav_dropdown {
    position: relative;
    display: inline;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FEC89A;
    min-width: max-content;
    padding: 0;
}
  
.dropdown-content a {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin: 0;
    font-size: 1rem;
} 
  
.dropdown-content a:hover {
    background-color: #ddd;
}

.nav_dropdown:hover .dropdown-content {
    display: block;
}

.card img{
    object-fit: scale-down;
}

nav img {
    max-width: 2rem;
    max-height: 2rem;   
    object-fit: contain;
}

.icon {
    background-color: #FEC89A;
    padding-left: 1rem;
    margin-right: 1rem;
    display: inline;
}

.left {
    display: none;
}

.left h1 {
    font-family: 'Oswald', sans-serif;
}

.right {
    background-color: #f2e9e4;
    width: 100%;
    position: absolute;
    right: 0px;
    height: 100%;
}

.iMental_icon {
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
    /* margin-left: 4rem; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-top: 3rem;
    /* margin-left: 5rem; */
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.introduction {
    margin-bottom: 5rem;
}

.introduction h2 {
    color: #c9ada7;
}

.introduction h3 {
    color: #9a8c98;
    font-size: 1.5em;
}

.form_title {
    margin-bottom: 0.8em;
    color: #22223b;
    text-shadow: 0.5px 0.5px #4a4e69;
}

form div {
    margin-bottom: 0.8em;
}

main {
    background-color: #fef9f8;
    padding-left: 2rem;
}

#bookWindow .card {
    background-color: #fef9f8;
}

.videos .card {
    background-color: #fef9f8;
}

footer {
    background-color: #FCD5CE;
    padding-left: 2rem;
    font-family: 'Oswald', sans-serif;
}

#BookList .container {
    padding-left: 2em;
    max-width: 100%;
    
}

#BookList {
    background-color: #F9DCC4;
}

#BookList a {
    text-decoration: none;
    color: #22223b;
}

#BookList .card {
    width: 18rem;

} 

#BookList h2{
    background-color: #f08080;

} 

#Recommanded_Book {
    margin: 0;
}
#Recommanded_Book .card {
    width: 18rem;
    height: fit-content;
}

#Recommanded_Book .col-3 {
    max-width: fit-content;
}

#Recommanded_Book .container {
    padding-left: 2em;
    margin: 0;
    
}

@media (min-width: 768px) {
    .iMental_icon {
        margin-left: 5rem;
    }

    .container {
        margin-left: 5rem;
    }

    .left {
        background-color: #22223b;
        background-image: url('../public/img/About_Us_BG.jpg');
        width: 50%;
        position: absolute;
        left: 0px;
        height: 100%;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: floralwhite;
        text-shadow: 1px 1px black;
    }

    .right {
        width: 50%;
    }

    #BookCard {
        resize: both;
    }
}

@media (min-width: 992px) {
    .dropbtn {
        display: none;
    }
      
    .dropdown-content {
        display: inline;
        position: fixed;
        width: 100%;
        padding: 0.5rem;
    }
      
    .dropdown-content a {
        display: inline;
        padding-left: 1em;
        padding-right: 2em;
        padding-bottom: 0.6rem;
        font-size: 1em;
    }

    .nav_dropdown:hover .dropdown-content {
        display: inline;
    }

    
    .icon {
        margin: 0;
        padding-bottom: 1.1rem;
    }

}

iframe {
    float: left;
}

.flex-container {
    background-color: #F9DCC4;
}

.container {
    background-color: #F9DCC4;
}

